body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: black;
  background: orange;
  font-size: 80px;
  background-size: cover;
}
::selection {
  background-color: $color_black;
  color: $color_white;
}

button, .button {
  cursor: pointer;
  background-color: $color_encore_blue;

  &:hover, &.active {
    background-color: $color_blue;
  }
}

button.btn-setting {
  margin-right: em(10);

  &:first-of-type {
    margin-left: em(10);
  }
}

.button {
  border-radius: 4px;
}

caption {
  border: 3px solid $color_encore_blue;
  color: $color_encore_blue;
  margin-bottom: em(13);
  border-radius: 4px;
}
td input {
  width: 100%;
}

.settings th {
  column-width: 80px;
}
//table {
//  max-width: 350px;
//}

.main {
  padding: em(30);
}

.tooltip {
  position: relative;
  display: inline-block;
  color: $color_white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $color_encore_blue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:before {
  display: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button.success {
  color: $color_white;
}

.drop-zone {
  position: relative;
  cursor: crosshair;

  img {
    opacity: .6;
  }

  .focal-point {
    position: absolute;
    margin-left: -7px;
    margin-top: -7px;
    width: 14px;
    height: 14px;

    &:before {
      position: absolute;
      content: "";
      width: 14px;
      height: 2px;
      top: 6px;
      left: 0;
      background-color: red;
    }

    &:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 14px;
      top: 0;
      left: 6px;
      background-color: red;
    }
  }
}